$primary: #251e3a;
$secondary: black;
$white: white;
$gradient: #161222;
$gradient: linear-gradient(180deg, rgba(black, 0), rgba(black, 0.9));

@import "../../node_modules/bootstrap/scss/bootstrap";

body {
    background-attachment: fixed;
}

.profile-px {
    height: 300px;
    object-fit: cover;
}
